.fade-enter-active,
.fade-leave-active,
.appear {
  transition: all 400ms ease-in;
}
.fade-leave-active {
  transition: all 200ms ease-in;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(1px);
}

.up-enter-active,
.up-leave-active,
.appear {
  transition: opacity 200ms ease, transform 200ms ease;
  position: relative;
  transform: translateY(0);
}

.up-enter-from,
.up-leave-to {
  opacity: 0;
  transform: rotate(0deg) translateY(-2px);
  z-index: -1;
}

.up-enter-to {
  transition-delay: 100ms;
}

.balance-enter-active,
.balance-leave-active {
  transform-origin: 50% -300px;
  transition: opacity 200ms ease, transform 300ms ease-out;
  position: relative;
}

.balance-enter-from,
.balance-leave-to {
  opacity: 0;
}

.balance-enter-from {
  transform: rotate(-8deg);
}

.balance-leave-to {
  transform: rotate(8deg);
}